$footer-padding: 3rem 1.5rem;
$selection-color: rgba(52, 152, 219, 0.4);
$family-sans-serif: "Open Sans", sans-serif;

@import "../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

::selection {
  background-color: $selection-color;
}
